<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión SPERCOL S.A.S</title>
    <link rel="shortcut icon" href="../img/spercol-sas.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/Iniciar.css">
</head>
<body class="body_registro">
    <main>
        <div class="datos">
            <h1>Iniciar Sesión</h1>
    <form class="formulario">
        <label class="email" for="email"><strong>Email</strong></label>
        <input id="email" autocomplete="email" type="email" placeholder="Ingresa tu email" required ><br>
        <label class="contrasena" for="contrasena"><strong>Contraseña</strong></label>
        <input id="contrasena" type="password" placeholder="Ingresa una contraseña" required ><br>
        </select><br>
        <button id="boton" type="submit">Iniciar sesión</button>
    </form>
    </main>
    <footer class="registrar_footer">
        <div class="footer_div">
            <a class="regresar_inicio" href="../../Index.html"><strong>REGRESAR A INICIO</strong></a><br>
            <small>BARRIO BOSQUE TRANSVERSAL 54 30 403 SANTILLANA DE LOS PATIO, CARTAGENA, BOLIVAR</small> <br>
            <small>Todos los derechos reservados © Spercol S.A.S</small>
        </div>
    </footer>
    <script src="../js/login.js"></script>
</body>
</html>